---
import type { Playlist } from "@/lib/data";

interface Props {
  playList: Playlist;
}

const { playList } = Astro.props;
const allArtists = playList.artists.join(", ");
---

<article
  transition:name={`playListBox-${playList.id}`}
  class="flex gap-8 items-end mt-8"
>
  <picture class="shadow-2xl">
    <img
      transition:name={`playListImage-${playList.id}`}
      class="h-52"
      src={playList.cover}
      alt={playList.title}
    />
  </picture>

  <div class="flex flex-col text-white">
    <span class="text-base mb-2">Playlist</span>
    <h4
      transition:name={`playListTitle-${playList.id}`}
      class="text-6xl font-semibold mb-8"
    >
      {playList.title}
    </h4>
    <span
      transition:name={`playListArtists-${playList.id}`}
      class="text-base mb-2">{allArtists}</span
    >
    <span class="text-base"
      ><strong>5 canciones,</strong> 3h aproximadamente</span
    >
  </div>
</article>
