---
import type { Playlist } from "@/lib/data";

interface Props {
  playList: Playlist;
}

const { playList } = Astro.props;

const allArtists = playList.artists.join(", ");
---

<article
  class="bg-zinc-500/30 hover:bg-zinc-800 transition-all duration-500 rounded-md w-48"
>
  <a class="p-2 flex flex-col h-full gap-2" href={`/playlist/${playList.id}`}>
    <picture>
      <img class="rounded-md" src={playList.cover} alt={playList.title} />
    </picture>

    <div>
      <h4 class="text-gray-200 text-base">{playList.title}</h4>
      <span class="text-gray-500 text-sm">{allArtists}</span>
    </div>
  </a>
</article>
